@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&display=swap');


.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background-color: white;
  text-align: center;
  margin: 90px auto;
  border-radius: 10px;
  padding-bottom: 32px;

}
.header{
  margin: 32px 0;
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
}

.todo_form{
  margin-top: 32px;
}

.input-add{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid darkorchid;
  width: 320px;
  background-color: transparent; 
  color: black;
  font-family: 'Nunito Sans', sans-serif;
}

.input-edit{
  padding:10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid darkorchid;
  box-shadow: 10px 5px 5px lavender;
  width: 320px;
  background: transparent;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
}

.add-button,
.edit-button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93,12,225,1)0%,
    rgba(155,0,250,1)100%
  );
  color: white;
  text-transform: capitalize;
  font-family: 'Nunito Sans', sans-serif;

}

.icons{
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon{
  margin-right: 5px;
  color: red;

}

.edit-icon{
  background-color: yellow;
}

.todo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(144,10,211)0%,
    rgba(235,230,228)100%
  );
  border: 2px solid rgba(235,230,228);
  padding: 16px;
  border-radius: 2px; 
  width: 380px;
  box-shadow: 2px 3px;
}

.todo-complete{
  text-decoration: line-through;
  opacity: 0.4;
  align-items: center;
  margin: 4px auto;
  padding: 16px;
  width: 380px;
}

.nav {
  background-color: rgb(71, 3, 96);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: 'Nunito Sans', sans-serif;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color:inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  
}

.nav li:hover { 
background-color: orange;
border-radius: 10% ;
  
}

.form {
  
}

