.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background-color: white;
  text-align: center;
  margin: 90px auto;
  border-radius: 10px;
  padding-bottom: 32px;

}
.header {
  margin: 32px 0;
  font-size: 24px;
}
